<div class="row">
    <div class="col-sm-12">
        <app-card [blockClass]="'icon-btn'">

            <button class="btn btn-primary btn-round" (click)="openModal(group)">
                <i class="icofont icofont-ui-add"></i>
                เพิ่มรายการ
            </button>

            <div class="table-responsive">
                <table class="table table-bordered table-striped" style="margin-top: 15px">
                    <thead class="table-info">
                        <tr>
                            <th>#</th>
                            <th width="200px">ฝ่าย</th>
                            <th width="200px">แผนก</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of result; let i = index">
                            <td align="left">{{ i+1 }}</td>
                            <td>{{ line.group }}</td>
                            <td>{{ line.department }}</td>
                            <td align="center">
                             
                                <div ngbDropdown class="dropdown-primary">
                                    <button ngbDropdownToggle class="btn btn-primary btn-sm waves-effect waves-light " type="button">
                                        <i class="icofont icofont-listine-dots"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                      <a (click)="editModal(editLine, line)" class="dropdown-item waves-light waves-effect" href="javascript:">
                                        <i class="icofont icofont-ui-edit"></i> แก้ไข
                                      </a>
                                      <a (click)="del(line._id)" class="dropdown-item waves-light waves-effect" href="javascript:">
                                        <i class="icofont icofont-ui-close"></i> ลบ
                                      </a>
                                      
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        
        </app-card>

        <!-- modal insert-->
        <ng-template #group>
            <div class="modal-header">
                <h4 class="modal-title pull-left">เพิ่มรายการ</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="form" name="form" (ngSubmit)="onInsert()">
                <div class="modal-body">
                    <div class="form-group row" [ngClass]="displayFieldCss('group')">
                        <label class="col-sm-2 col-form-label">ฝ่าย</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="group" id="group" required />
                            <app-field-error-display [displayError]="isFieldValid('group')" errorMsg="Please inform your group">
                                </app-field-error-display>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="displayFieldCss('department')">
                            <label class="col-sm-2 col-form-label">แผนก</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="department" id="department" required />
                                <app-field-error-display [displayError]="isFieldValid('department')" errorMsg="Please inform your department">
                                    </app-field-error-display>
                            </div>
                        </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" (click)="modalRef.hide()">ยกเลิก</button>
                    <button type="submit" [disabled]="!form.valid" class="btn btn-primary waves-effect waves-light">บันทึก</button>
                </div>
            </form>
        </ng-template>

        <!-- modal edit -->
        <ng-template #editLine>
            <div class="modal-header">
                    <h4 class="modal-title pull-left">แก้ไขรายการ</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="form" (ngSubmit)="onEdit()">
                    <div class="modal-body">
    
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">ฝ่าย</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="model.group" name="group">
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">แผนก</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [(ngModel)]="model.department" name="department">
                                </div>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" (click)="modalRef.hide()">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">บันทึก</button>
                    </div>
            </form>
        </ng-template>

    </div>
</div>