<div class="row">
    <div class="col-sm-12">
    
      <!-- Basic Inputs Validation start -->
      <app-card [title]="'ฟอร์มแจ้งรับบริการ Inputs Validation'" [headerContent]="'กรอกข้อมูลให้ครบถ้วน พร้อมอธิบายรายละเอียดเบื้องต้น'" [cardOptionBlock]="true">
        <form [formGroup]="form" enctype="multipart/form-data">
          <div class="form-group row" [ngClass]="displayFieldCss('subject')">
            <label class="col-sm-2 col-form-label">เรื่อง</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="subject" placeholder="หัวข้อเรื่อง" formControlName="subject">
              <app-field-error-display [displayError]="isFieldValid('subject')" errorMsg="Please inform your subject">
              </app-field-error-display>
            </div>
          </div>
          <div class="form-group row" [ngClass]="displayFieldCss('description')">
            <label class="col-sm-2 col-form-label">รายละเอียด</label>
            <div class="col-sm-10">
              <textarea class="form-control" cols="50" rows="3" placeholder="รายละเอียดในการขอรับบริการ" formControlName="description"></textarea>
              <app-field-error-display [displayError]="isFieldValid('description')" errorMsg="Please inform your description"></app-field-error-display>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">แนบรูปภาพ</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="file" >
            </div>
          </div>
          
          <div class="form-group row" [ngClass]="displayFieldCss('email')">
            <label class="col-sm-2 col-form-label">Email ผู้รับบริการ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Enter valid e-mail address" formControlName="email">
              <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
              </app-field-error-display>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary m-b-0" (click)="onSubmit()">Submit</button>
              <button type="button" class="btn btn-default m-b-0" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </app-card>
      <!-- Basic Inputs Validation end -->
     
    </div>
  </div>
  